<div ng-controller="CartCtrl">
  <div class="jumbotron">
    <h2>Orders</h2>
    <p>{{nbArchive}} orders done.</p>
  </div>
  <!--div class="container row" style="cursor:pointer;margin:10px;">
    <div class="col-md-12 row" style="padding-top:0px;padding:10px;" ng-repeat="atlArchive in atlsArchive">
      <div class="col-md-9" ><h4>{{atlArchive.name}}</h4>{{atlArchive.description}}</div>
      <div class="col-md-1">{{multArchive[$index]}}X </div>
      <div class="col-md-1">{{atlArchive.price}} Euros</div>
    </div>
  </div-->
</div>
